/* Styles for all pages */
body {
    /*Typography */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*Visual */
    background-image: url("../Assets/background.jpg");
}
html {
    /* Positioning */
    position: relative;
    /*Box-model */
    min-height: 100%;
}
/* Styles for all main box */
.block {
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
}
.block-header {
    /*Typography */
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}
/* Space for fixed nav */
main {
    margin: 80px 0;
}
/* Nav stat */
#logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* Typography */
    font-size: 30px;
    font-weight: bold;
    color: #eeeeee;
    /* Visual */
    background: black;
}
/* override bootstrap hover color and border */
.navbar-default .navbar-nav > li > a:hover {
    color: red;
}
.navbar {
    background: red;
    border: red;
}
/* media query for nav background color change */
@media only screen and (max-width: 767px) {
    .navbar-header {
      background-color: #4aaaa5;
    }
  }
  /* END NAV */

/* Start of Footer */
.footer {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 60px;
    background-color: gray;
    text-decoration-color: lime;
}
.text-muted-footer {
    /* Box-model */
    margin-top: 15px;
  
    /* Typography */
    color:whitesmoke;
  }
  
  .two-toned-footer-color {
    /* Box-model */
    height: 6px;
    padding-top: 3px;
  
    /* Visual */
    background-color: red;
  }
  /* Facebook */
.fa {
    padding: 10px;
    margin-top: 10px;
    font-size: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect  */
  .fa:hover {
    opacity: 0.7;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
   
  }
/* End of Footer */

/* About Me Page */
#about-image {
    float: left;
    width: 200px;
    margin: 0 20px 10px 0;
}
/* End About Me page

